#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: whitesmoke;
}

h1 {
  font-family: sans-serif;
  text-shadow: 1px 1px 1px #feda4a;
}

main {
  height: 300px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 100px auto;
}

button {
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

button > svg {
  margin: 0 7px;
}

.sw-button {
  font-family: sans-serif;
  background-color: #000;
  border: 1px solid #feda4a;
  color: #feda4a;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
}

.sw-button:hover,
.sw-button:focus {
  background-color: #feda4a;
  color: #000;
  outline-color: yellow;
}

@media (max-width: 500px) {
  main {
    height: 300px;
    width: 0;
  }

  .sw-button {
    display: flex;
  }
}